<div class="pull-right">Facebook, Twitter, Googl+</div>
<div class="page-header">
  <h2>
    Twitter上の就職話題度をチェック
    <div class="pull-right"><small>就職の話題: 33234234235件</small></div>
  </h2>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">就職の話題</div>
      <div class="panel-body">
	<p>
	  google<br />
	  yahoo<br />
	</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-9">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
	<div class="panel panel-primary">
	  <div class="panel-heading">最新情報Twitter</div>
	    <table class="table table-hover">
	      <tbody>
		<% @tweets.each do |tweet| -%>
		  <tr>
		    <td>
		      <div class="media">
			<div class="media-body">
			  <div class="media-heading help-block">@<%= tweet.username -%> <small><%= time_ago_in_words tweet.created_at %></small></div>
			  <%= tweet.text -%>
			</div>
		      </div>
		    </td>
		  </tr>
		<% end -%>
	      </tbody>
	    </table>
	</div>
      </div>
      <div class="col-xs-12 col-sm-4">
	<div class="panel panel-primary">
	  <div class="panel-heading">Company</div>
	  <div class="panel-body">
	    <p>Google : 100</p>
	    <p>Yahoo : 90</p>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div><!--/row-->
