<div class="row">
  <div class="col-md-4">
    <h2>会社話題ランキング</h2>
    <p>
      google<br />
      yahoo<br />
    </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>ブラック企業ランキング</h2>
    <p>
      google<br />
      yahoo<br />
    </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>..ランキング</h2>
    <p>
      google<br />
      yahoo<br />
    </p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
