<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @keyword_index.name %>
</p>

<%= link_to 'Edit', edit_keyword_index_path(@keyword_index) %> |
<%= link_to 'Back', keyword_indices_path %>
