<div class="panel panel-primary ">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "heart-o", text: "#{company.name}に転職したい方" -%>
    </h4>
  </div>
  <div class="panel-body">
    <a href="http://px.a8.net/svt/ejp?a8mat=2C2KDB+7YYYCY+UBO+65EOI" target="_blank">マイナビエージェント</a><br> 転職なら求人情報豊富な人材紹介サービスのご利用を！専任のキャリアコンサルタントと話をすることで初めて気付く自分の価値がここにあります！
    <img border="0" width="1" height="1" src="http://www18.a8.net/0.gif?a8mat=2C2KDB+7YYYCY+UBO+65EOI" alt="">
  </div>
</div>
