<div class="panel panel-primary ">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "heart-o", text: "#{company.name}に転職したい方" -%>
    </h4>
  </div>
  <div class="panel-body">
    <font color="red">まだ転職サイトの選びを悩んでいますか？<BR>
      リクリブの
      <%= link_to page_path('ads') do fa_icon "star", text: "転職サイト比較" end -%>
      にチェックしよう！</font><BR>
  </div>
</div>
