<div class="panel panel-primary ">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "heart-o", text: "#{company.name}に転職したい方" -%>
    </h4>
  </div>
  <div class="panel-body">
    <a href="http://px.a8.net/svt/ejp?a8mat=2HJRTK+D0K5V6+2GDO+5ZU2A" target="_blank">リクナビNEXT</a>
    <img border="0" width="1" height="1" src="http://www10.a8.net/0.gif?a8mat=2HJRTK+D0K5V6+2GDO+5ZU2A" alt="">リクルートが運営する国内トップの認知度を誇る無料転職・求人サイト。登録はたった１分。
  </div>
</div>
