<div class="panel panel-primary ">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= fa_icon "heart-o", text: "#{company.name}に転職したい方" -%>
    </h4>
  </div>
  <div class="panel-body">
    <center>
      <% if rand(2) == 0 -%>
	<iframe frameborder="0" allowtransparency="true" height="250" width="300" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=3177740&pid=883274640" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=3177740&pid=883274640"></script><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883274640" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883274640" height="250" width="300" border="0"></a></noscript></iframe>
      <% else -%>
	<iframe frameborder="0" allowtransparency="true" height="100" width="300" marginheight="0" scrolling="no" src="http://ad.jp.ap.valuecommerce.com/servlet/htmlbanner?sid=3177740&pid=883274635" marginwidth="0"><script language="javascript" src="http://ad.jp.ap.valuecommerce.com/servlet/jsbanner?sid=3177740&pid=883274635"></script><noscript><a href="http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3177740&pid=883274635" target="_blank" ><img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3177740&pid=883274635" height="100" width="300" border="0"></a></noscript></iframe>
      <% end -%>
    </center>
  </div>
</div>
