<div class="col-xs-12">
  <div class="header">
    <h2>個人情報取扱規約</h2>
  </div>

  <ol>
    <li>個人情報について</li>
    <p>生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの、他の情報と容易に照合することができ、それにより特定の個人を識別することができるものを言います。</p>

    <li>個人情報の利用</li>
    <p>
      本サイトは、収集目的の範囲内で個人情報を適切に利用しますが、その他に以下の目的で利用する場合があります。<br />
      本サイトの運営及びサービスの提供。<br />
      ユーザーの本人確認（ID及びパスワード等による個人認証を含む）。<br />
      本サイトのサービス向上を目的として、意見、要望、情報の提供をお願いするため。<br />
      本サイトのサービスの変更・更新等をご案内するため。<br />
      本サイト、または本サイトに関連する新サービス開発のご協力をお願いするため。<br />
      契約、利用規約及び法律に基づく権利義務の行使。
    </p>

    <li>個人データの提供</li>
    <p>本サイトは、個人データを正確かつ最新の状態で保有するよう努めます。また、個人データの紛失、漏えい、破壊、改ざん等に対して、組織的・人的・物理的及び技術的な安全管理措置を講じます。</p>

    <li>個人データの管理</li>
    <p>本サイトは、サービスとして提供するものです。いかなる方法で、いつでも、いかなる理由であれ、利用者に何らの通知をすることなく、内容を削除、修正、補充する権利を留保し、その結果については一切責任を負いません。</p>

    <li>削除依頼</li>
    <p>
      重要削除対象: <br />
      個人の取り扱い（個人名・住所・所属／誹謗中傷／私生活情報／電話番号／メールアドレス）<br />
      差別・蔑視 <br />
      企業への誹謗中傷など
    </p>

    <li>個人情報相談窓口</li>
    <p>
      個人情報に関する苦情・相談窓口 <br />
      <script type="text/javascript">
	var name = "privacy";
	var domain = "rikulib.com";
	document.write(name + '&#64;' + domain);
      </script>
    </p>
  </ol>
</div>
