<div class="col-xs-12">
  <div class="header">
    <h2>スポンサー募集のご案内</h2>
  </div>

  <p>
    広告、事業提携については、こちらからお問合せください
  </p>

  <p>
    メールでのお問い合せ：<br />
    <script type="text/javascript">
      var name = "ads";
      var domain = "rikulib.com";
      document.write(name + '&#64;' + domain);
    </script>
  </p>
</div>
