<div class="col-xs-12">
  <div class="header">
    <h2>利用規約</h2>
  </div>

  <ol>
    <li>「リクリブ」の内容は著作権法で保護されており、複製は禁じます。</li>

    <p>本サイトに掲載されているコンテンツ及び個々の情報､商標､画像､広告､デザイン等に関する著作権､商標権その他の知的財産権、及びその他の財産権は全て「リクリブ」又は正当な権利者に帰属しています｡</p>

    <li>「リクリブ」は、いつでも、本サイトの内容を削除、修正等する権利を持ちます。</li>

    <p>本サイトは、サービスとして提供するものです。「リクリブ」は、いかなる方法で、いつでも、いかなる理由であれ、利用者に何らの通知をすることなく、内容を削除、修正、補充する権利を留保し、その結果については一切責任を負いません。</p>

    <li>「リクリブ」の利用による損害の責任を負いません。</li>

    <p>本サイトに最新かつ正確な情報を掲載するよう合理的な努力を払いますが、正確性等について、いかなる責任を負うものでも、保証をするものでもありません。当サイトの御利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。</p>

    <li>「リクリブ」からのリンクを以下のように定めます。</li>

    <p>本サイトからの第三者のウェブサイトの内容については、それぞれ各サイトの責任において運営・管理されているものですので、各ウェブサイトに掲載されているご利用条件に沿ってご利用ください。「リクリブ」は、第三者のウェブサイトをご利用した際に生じたいかなる損害についても責任を負いません。</p>

    <li>「リクリブ」ではcookieを利用しています。</li>

    <p>このホームページでは、提供する情報やサービスの充実・向上のために「Cookie」という技術を使用しています。利用者は、ご利用いただくブラウザの設定によりCookieの受け取りを拒否したり、Cookieを受け取ったときに警告を表示させたりすることができます。なお、利用者は、Cookieの受け取りを拒否された場合も、このホームページをご利用になれますが、一部機能がご利用になれない場合があります。</p>

    <li>本規約の内容は、必要に応じて変更することがございます。</li>
    <p>本サイトをご利用の際には本サイト上に記載されている最新の本規約をご確認下さい。尚、変更後の規約は本サイトに掲載された時点で効力を生じるものとし、以降、全ての利用者に適用されます。</p>
  </ol>
</div>
