// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hr-point {
    border:none;
    border-top:dashed 1px #CCC;
    height:1px;
    color:#FFFFFF;
    margin: 0 6 0 6;
}

.small-link-buttons {
    line-height:250%;
}

.link-buttons {
    line-height:300%;
}
